.panel-title a {
    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 默认去除下划线 */
}

.panel-title a:hover {
    text-decoration: none !important; /* 鼠标悬停时去除下划线 */
}

.red {
    color: red !important; /* 即使重名也不会覆盖 */
}

.upload {
    width: 200px;
    height: 18px;
    margin: -10px 20px 10px 25px;
}

#myTable thead th {
    text-align: center;
}

th {
    white-space: nowrap; /* 防止内容换行 */
    vertical-align: middle; /* 确保垂直居中 */
}

.thead-list {
    background-color: lightyellow;;
    color: black;
}

.btn-download {
    background-color: #5bc0de; /* 这里使用了一个不同的颜色 */
    border-color: #46b8da; /* 边框颜色也可以相应改变 */
    color: white; /* 文字颜色 */
}

.btn-archives {
    margin-bottom: 5px;
    display: block; /* 让按钮独占一行 */
    width: 100%; /* 让按钮的宽度与容器相同 */
}

/* 确保td内容垂直居中 */
td {
    vertical-align: middle !important;
}

.col-md-offset-1 {
    margin-bottom: 1%;
}

/* 确保外层容器是一个 flex 容器 */
.pagination-container {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中（如果需要） */
}

.pagination {
    /* .pagination 自身的样式 */
    margin: 0; /* 移除默认的外边距 */
    padding: 0; /* 根据需要调整内边距 */
    /* 其他样式 */
}

.input-group{
    width:230px;
    height: 28px
}