{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center" >档案编辑</h2>
            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}: </label>
                                    {{ field }}
                            <!-- 数据校验,显示错误信息 -->
                            <span style="color: red;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}